<h1>404</h1>
<h2>not found</h2>
<p>ページが見つかりませんでした。</p>
<p><%= link_to "トップページへ戻る", root_path %></p>
<style>
h1{
  font-size: 100px;
  color: #ff0000;
  text-align: center;
}
h2{
  font-size: 50px;
  color: #ff0000;
  text-align: center;
}
p{
  font-size: 30px;
  text-align: center;
}
</style>