<div class="notfound-container">
  <div class="notfound-logo-wrapper">
  <svg class="logo-404" width="129" height="56" viewBox="0 0 129 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M38.2206 42.88H32.5553V55.2H23.2994V42.88H0V35.12C2.39377 31.3867 4.76095 27.6 7.10152 23.76C9.4953 19.8667 11.7295 16 13.8041 12.16C15.8787 8.26667 17.5809 4.48 18.9108 0.800004H29.3636C27.3954 6.24 24.7356 11.84 21.3844 17.6C18.0331 23.3067 14.5754 28.88 11.0114 34.32H23.2994V26.08H32.5553V34.32H38.2206V42.88Z" fill="black"/>
<path d="M83.4903 22.24V33.68C83.4903 40.6133 81.8678 46.08 78.6229 50.08C75.3781 54.0267 70.6171 56 64.3401 56C58.0631 56 53.3022 54.0267 50.0573 50.08C46.8124 46.08 45.1899 40.6133 45.1899 33.68V22.24C45.1899 15.3067 46.8124 9.86667 50.0573 5.92C53.3022 1.97333 58.0631 0 64.3401 0C70.6171 0 75.3781 1.97333 78.6229 5.92C81.8678 9.86667 83.4903 15.3067 83.4903 22.24Z" fill="black"/>
<path d="M129 42.88H123.335V55.2H114.079V42.88H90.7794V35.12C93.1732 31.3867 95.5404 27.6 97.881 23.76C100.275 19.8667 102.509 16 104.584 12.16C106.658 8.26667 108.36 4.48 109.69 0.800004H120.143C118.175 6.24 115.515 11.84 112.164 17.6C108.813 23.3067 105.355 28.88 101.791 34.32H114.079V26.08H123.335V34.32H129V42.88Z" fill="black"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M52.108 20.1084C52.3407 20.0971 52.669 20.1127 53.1041 20.1799C54.3183 20.3674 55.9848 20.894 57.8627 21.7127C58.6311 22.0476 59.5245 21.6937 59.8581 20.9221C60.1917 20.1505 59.8392 19.2534 59.0708 18.9185C57.0696 18.0461 55.1368 17.4119 53.5652 17.1692C52.7881 17.0492 52.0006 17.0087 51.3005 17.1422C50.6068 17.2745 49.7474 17.6358 49.2913 18.5338M51.7672 20.1603C51.7671 20.1603 51.7689 20.1594 51.7731 20.1579C51.7693 20.1597 51.7673 20.1604 51.7672 20.1603ZM52.108 20.1084C52.1501 20.2285 52.2178 20.3889 52.3267 20.596C52.6961 21.2979 53.3774 22.2126 54.3775 23.2828C56.3642 25.4086 59.4001 27.9277 63.0145 30.3023C66.6323 32.6783 70.0595 34.404 72.6512 35.2915C73.961 35.7401 74.9632 35.9415 75.6286 35.9534C75.7447 35.9555 75.8382 35.9522 75.9127 35.9463C75.836 35.7035 75.6749 35.3578 75.387 34.9079C74.7505 33.9135 73.6558 32.658 72.1555 31.2528C71.5429 30.679 71.5095 29.7152 72.0809 29.1001C72.6524 28.485 73.6122 28.4515 74.2248 29.0253C75.8147 30.5145 77.1106 31.9667 77.939 33.261C78.3516 33.9056 78.6894 34.5741 78.8657 35.2355C79.0402 35.8903 79.0958 36.6974 78.7133 37.4588L78.7101 37.4651C78.0382 38.7873 76.5935 39.0172 75.5748 38.999C74.4534 38.9791 73.1081 38.6664 71.6719 38.1746C68.7717 37.1814 65.1136 35.3207 61.3537 32.8514L61.3535 32.8513C57.5927 30.3805 54.3563 27.7117 52.1653 25.3672C51.0766 24.2021 50.1927 23.061 49.6444 22.019C49.1545 21.0878 48.675 19.7475 49.2913 18.5339M75.9663 36.2064C75.9663 36.2063 75.9663 36.2047 75.9666 36.2016ZM76.1512 35.905C76.1638 35.8969 76.1717 35.8941 76.1725 35.8947C76.1732 35.8953 76.1669 35.8993 76.1512 35.905Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M59.8079 17.8373C61.137 17.2845 62.5615 17 64.0001 17C65.4387 17 66.8633 17.2845 68.1924 17.8373C69.5215 18.3901 70.7292 19.2004 71.7464 20.2218C72.7637 21.2432 73.5706 22.4559 74.1211 23.7904C74.6717 25.125 74.955 26.5554 74.955 27.9999C74.955 29.4445 74.6717 30.8749 74.1211 32.2094C73.5706 33.544 72.7637 34.7566 71.7464 35.7781C70.7292 36.7995 69.5215 37.6098 68.1924 38.1626C66.8633 38.7154 65.4387 38.9999 64.0001 38.9999C62.5615 38.9999 61.137 38.7154 59.8079 38.1626C58.4788 37.6098 57.2711 36.7995 56.2539 35.7781C55.2366 34.7566 54.4297 33.544 53.8791 32.2094C53.3286 30.8749 53.0452 29.4445 53.0452 27.9999C53.0452 26.5554 53.3286 25.125 53.8791 23.7904C54.4297 22.4559 55.2366 21.2432 56.2539 20.2218C57.2711 19.2004 58.4788 18.3901 59.8079 17.8373ZM64.0001 20.0461C62.9599 20.0461 61.9299 20.2519 60.9688 20.6516C60.0078 21.0513 59.1345 21.6372 58.399 22.3758C57.6634 23.1143 57.08 23.9912 56.6819 24.9562C56.2838 25.9212 56.0789 26.9554 56.0789 27.9999C56.0789 29.0445 56.2838 30.0787 56.6819 31.0437C57.08 32.0087 57.6634 32.8856 58.399 33.6241C59.1345 34.3627 60.0078 34.9486 60.9688 35.3483C61.9299 35.748 62.9599 35.9538 64.0001 35.9538C65.0404 35.9538 66.0704 35.748 67.0315 35.3483C67.9925 34.9486 68.8657 34.3627 69.6013 33.6241C70.3368 32.8856 70.9203 32.0087 71.3184 31.0437C71.7165 30.0787 71.9214 29.0445 71.9214 27.9999C71.9214 26.9554 71.7165 25.9212 71.3184 24.9562C70.9203 23.9912 70.3368 23.1143 69.6013 22.3758C68.8657 21.6372 67.9925 21.0513 67.0315 20.6516C66.0704 20.2519 65.0404 20.0461 64.0001 20.0461Z" fill="white"/>
</svg>
  <h1>NOT FOUND</h1>
  </div>

  <p>ページが見つかりませんでした。</p>
  <p><%= link_to "トップページへ戻る", root_path %></p>
</div>
<style>
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100vh;
}
.logo-404 {
  color: #ff0000;
}
.notfound-logo-wrapper h1 {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  margin: 0;
}
p{
  font-size: 14px;
  text-align: center;
}
</style>
