<header>
  <h1>通りすがりメモリー</h1>
</header>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
<style>
  header {
    background-color: var(--primary) ;
    color: white; 
    text-align: center; 
    position: sticky; 
    font-size: 10px;
    font-family: "Yuji Boku", sans-serif;
    border-radius: 999px;
    padding: 12px;
    width: 96%;
    box-sizing: border-box;
    top: 4px;
    margin: 4px auto;
    z-index: 999;
  }
  header h1 {
    margin: 0;
    padding: 0;
  }
</style>
