<header>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .header {
            background-color: #ffcc99 ;
            color: white; 
            text-align: center; 
            padding: 0.01px; 
            position: sticky; 
            top: 0; 
            left: 0;
            right: 0;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>App Name</h1> <!-- アプリの名前 -->
</div>

<!-- ここにアプリのコンテンツを配置 -->

</body>
</html>
</header>
