<%= render "shared/header" %>
<%= render "shared/new_post_button" %>
<%= render "shared/navbar" %>

<link rel="stylesheet"  href="styles.css">
<div class="timeline">

<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="#ffcc99"></path>
</svg>
<p style="position: absolute; top: 50px; left: 100; font-size: 20px; color: #ffcc99 ;">今居るところの投稿</p>
<p style="position: absolute; top: 30px; left: 40px; font-size: 15px; color: #ffcc99 ;">東京都 港区 (北緯35.４度 東経139.7度)
</p>
    <!-- タイムラインのコンテンツを表示する領域 -->
    
</div>

