<%= render "shared/header" %>
<div class="timeline">
  <h1 class="timeline-heading">現在地周辺の投稿</h1>
  <div class="timeline-address-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor"></path>
    </svg>
    <div class="timeline-coords">京都府 中京区 (35.4, 139.7)</div>
  </div>
  <div id="post-list">
  </div>
</div>
<%= render "shared/new_post_button" %>
<%= render "shared/navbar", page: "list" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.5/viewer.min.js" integrity="sha512-RiULFIt4KC3x9TYgFfcbkYLtn0DHffAZ5S7hVxjLpdC3i0/hNt6zYSTomh4kH8u8Ue70n2HFeP4n0ehHUSH4bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var listContainer = document.querySelector("#post-list");

  for(let i=0;i<5;i++){
    var postElement = document.createElement("div")
        postElement.classList.add("post-item")
        postElement.classList.add("loading")
        postElement.style.animationDelay = `${0.1 * i}s`
        postElement.innerHTML = `
          <div class="post-content-emoji"></div>
          <div class="post-item-rhs">
            <div class="post-item-header">
              <div class="post-content-date"></div>
            </div>
            <div class="post-content-text"></div>
            <div class="post-content-coords">
              <div></div>
            </div>
          </div>
        `
        listContainer.appendChild(postElement)
  }

  navigator.geolocation.getCurrentPosition((position) => {
    axios.get(`/posts/search`,{
      params: {
        latitude: position.coords.latitude,
        longitude: position.coords.longitude,
      }
    }).then((res)=>{
      console.log(res.data);
      listContainer.innerHTML = "";
      res.data.reverse().forEach((post, i) => {
        var postElement = document.createElement("div")
        postElement.classList.add("post-item")
        postElement.style.animationDelay = `${0.1 * i}s`
        postElement.innerHTML = `
          <div class="post-content-emoji">
            ${post.emoji || "?"}
          </div>
          <div class="post-item-rhs">
            <div class="post-item-header">
              <div class="post-content-date">
                ${new Date(post.created_at).toLocaleString()}
              </div>
            </div>
            <div class="post-content-text">
              ${post.content}
            </div>
            ${
              post.img_file_name ?
              `<div onClick="viewImage('post-image-${i}')" class="post-image-container">
                <img id="post-image-${i}" class="post-content-image" src="https://pochama.s3.amazonaws.com/${post.img_file_name}" alt="image" loading="lazy">
              </div>` :
              ""
            }
            <a class="post-content-coords" href="<%= map_posts_path %>?id=${post.id}&lat=${post.latitude}&lng=${post.longitude}">
              <div>
                ${post.latitude}, ${post.longitude}
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-current-location" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0"></path>
                <path d="M12 2l0 2"></path>
                <path d="M12 20l0 2"></path>
                <path d="M20 12l2 0"></path>
                <path d="M2 12l2 0"></path>
              </svg>
            </a>
          </div>
        `
        listContainer.appendChild(postElement)
      })
    }).catch((err)=>{
      console.log(err)
      listContainer.innerHTML = `<div class="post-list-notice">周辺の投稿を取得できませんでした T_T</div>`
    });
  });

  function viewImage(id) {
    console.log(id);
    var viewer = new Viewer(document.getElementById(id), {
      inline: false,
      viewed() {
        viewer.zoomTo(1)
      }
    });
  }
</script>
<style>
  .timeline-address-wrapper {
    position: sticky;
    top: 60px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--primary);
    background: white;
    padding: 6px 8px;
    z-index: 400;
    border-radius: 8px;
    background: #fff4e1;
    width: 96%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 14px;
  }
  
  .timeline-address-wrapper svg {
    width: 20px;
    height: 20px;
  }
  .timeline-coords {
    margin: 0;
  }
  .timeline-heading {
    font-size: 18px;
    padding-left: 16px;
  }
  #post-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .post-list-notice {
    padding: 120px 0;
    text-align: center;
    font-size: 14px;
    color: gray;
  }
  .post-item {
    display: flex;
    gap: 16px;
    padding: 28px 24px;
    background-color: white;
    opacity: 0;
  }
  .post-item + .post-item {
    border-top: 1px solid #efefef;
  }
  .post-item:not(.loading) {
    animation: fadein-l2r 0.8s cubic-bezier(0, 0.75, 0.19, 1.69) forwards;
  }
  .post-item.loading {
    animation: loading-anm 1s infinite;
  }
  .post-content-emoji {
    font-size: 32px;
  }
  .loading .post-content-emoji {
    width: 40px;
    height: 40px;
    background: #e6e6e6;
    border-radius: 100%;
  }
  .post-item-rhs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px
  }
  .post-item-header {
    display: flex;
    gap: 8px;
  }
  .post-content-date {
    font-size: 12px;
    color: gray;
  }
  .loading .post-content-date {
    background: #e6e6e6;
    border-radius: 8px;
    height: 16px;
    width: 100px;
  }
  .post-content-text {
    font-size: 14px;
    line-height: 1.2;
  }
  .loading .post-content-text {
    background: #e6e6e6;
    border-radius: 8px;
    height: 20px;
    width: 200px;
  }
  .post-image-container {
    max-width: 100%;
    max-height: 152px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
  }
  .post-content-image {
    object-fit: contain;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
  }
  .post-content-coords {
    width: 100%;
    font-size: 12px;
    color: gray;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
  }
  .post-content-coords svg {
    width: 16px;
    height: 16px;
  }

  .loading .post-content-coords {
    background: #e6e6e6;
    border-radius: 6px;
    height: 12px;
    width: 140px;
    align-self: flex-end;
  }

  @keyframes fadein-l2r {
    from {
      opacity: 0;
      transform: translateX(-24px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes loading-anm {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.5/viewer.min.css" integrity="sha512-VysXDwG8m5Ngy43+b8+CdTe6Qkc69z8Oyxgo3yg8JqhRwwtjfSs+M4NEaP4As6l0ZCX+RpTyyuSiJnnO8JS5Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
