 <% content_for :js do %>
   <%= javascript_import_module_tag "posts/index" %>
 <% end %>
<%= render "shared/header" %>
<div class="timeline">
  <h1 class="timeline-heading">現在地周辺の投稿</h1>
  <div class="timeline-address-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor"></path>
    </svg>
    <div class="timeline-coords"> 京都府 中京区 </div>
  </div>
  <div id="post-list">
  </div>
</div>
<%= render "shared/new_post_button" %>
<%= render "shared/navbar", page: "list" %>
<style>
  .timeline-address-wrapper {
    position: sticky;
    top: 60px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--primary);
    background: white;
    padding: 6px 8px;
    z-index: 400;
    border-radius: 8px;
    background: #fff4e1;
    width: fit-content;
    margin-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .timeline-address-wrapper svg {
    width: 20px;
    height: 20px;
  }
  .timeline-coords {
    margin: 0;
  }
  .timeline-heading {
    font-size: 18px;
    padding: 16px;
  }
  #post-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .post-list-notice {
    padding: 120px 0;
    text-align: center;
    font-size: 14px;
    color: gray;
  }
  .post-item {
    display: flex;
    gap: 16px;
    padding: 28px 24px;
    background-color: white;
    opacity: 0;
  }
  .post-item + .post-item {
    border-top: 1px solid #efefef;
  }
  .post-item:not(.loading) {
    animation: fadein-l2r 0.8s cubic-bezier(0, 0.75, 0.19, 1.69) forwards;
  }
  .post-item.loading {
    animation: loading-anm 1s infinite;
  }
  .post-content-emoji {
    font-size: 32px;
  }
  .loading .post-content-emoji {
    width: 40px;
    height: 40px;
    background: #e6e6e6;
    border-radius: 100%;
  }
  .post-item-rhs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px
  }
  .post-item-header {
    display: flex;
    gap: 8px;
  }
  .post-content-date {
    font-size: 12px;
    color: gray;
    font-family: monospace;
  }
  .loading .post-content-date {
    background: #e6e6e6;
    border-radius: 8px;
    height: 16px;
    width: 100px;
  }
  .post-content-text {
    font-size: 14px;
    line-height: 1.2;
  }
  .loading .post-content-text {
    background: #e6e6e6;
    border-radius: 8px;
    height: 20px;
    width: 200px;
  }
  .post-image-container {
    max-width: 100%;
    max-height: 152px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
  }
  .post-content-image {
    object-fit: contain;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
  }
  .post-content-coords {
    width: 100%;
    font-size: 10px;
    color: gray;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
    font-family: monospace;
  }
  .post-content-coords svg {
    width: 16px;
    height: 16px;
  }

  .loading .post-content-coords {
    background: #e6e6e6;
    border-radius: 6px;
    height: 12px;
    width: 140px;
    align-self: flex-end;
  }

  @keyframes fadein-l2r {
    from {
      opacity: 0;
      transform: translateX(-24px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes loading-anm {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.5/viewer.min.css" integrity="sha512-VysXDwG8m5Ngy43+b8+CdTe6Qkc69z8Oyxgo3yg8JqhRwwtjfSs+M4NEaP4As6l0ZCX+RpTyyuSiJnnO8JS5Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
